body{
    margin: 0;

}
#navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#right-nav{
    width:40%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#conta{
    /* border: 1px solid black; */
    height: 600px;
    width:600px;
    margin: auto;
    margin-top: 50px;

}

#searchInputData{
    width:300px;
    margin-left:500px;
    text-align: center;
}
#cont{
    margin: auto;
    /* border: 1px solid red; */
    height: 250px;
    width:300px;
    text-align: center;
    
}

#userForm{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap:1vw;
    height: 300px;;
    width:300px;
    margin: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;



}
h3{
    text-align: center;
}
input{
    border: none;
}
#containers{
   height:200px;
   width:300px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   /* border:1px solid black; */
   margin: auto;
   margin-top: 50px;
   padding-left: 20px;
   padding-top: 20px;;

}